<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokedex</title>
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.css">
    <script src="node_modules/angular/angular.js"></script>
    <script src="app.js"></script>
</head>
<body ng-app="pocemonAPP" ng-controller="mainCtrl">



<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <div class="col-md-4 col-sm-4">
                <h3 class="navbar-brand">Pokedex</h3>
            </div>
            <div class="col-md-3 col-sm-5 col-sm-offset-3 col-md-offset-4 ">
                <div class="input-group navbar-brand">
                    <label for="stype">select pokemon by type</label>
                    <select class="form-control" ng-model="pokemonType" id="stype">
                        <option selected value="">all</option>
                        <option ng-repeat="type in pokemon.types" value="{{type}}">{{type}}</option>
                    </select>
                </div>
            </div>

        </div>

    </div>
</nav>



<div class="container">
    <div class="sk-circle" ng-show="loading.main">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
    </div>
    <div class="row" ng-hide="loading.main">
        <div class="col-md-8 col-sm-8 col-xs-6 allpokemon">
            <div class="row">
                <div class="col-md-4 col-sm-5 cell" ng-repeat="l in lists | filter:typeFilter">
                    <div class="col-md-12 col-sm-12 card" ng-click="show_single(l['pkdx_id'])">
                        <img ng-src="http://pokeapi.co/media/img/{{l['pkdx_id']}}.png ">
                        <p>{{l['name']}}</p>
                        <div class="col-md-5 col-sm-5 col-xs-5 power-bt" ng-class="l['types'][0]['name']" >{{l['types'][0]['name']}}</div>
                        <div class="col-md-5 col-sm-5 col-xs-5 col-sm-offset-2 col-xs-offset-1 col-md-offset-2 power-bt" ng-class="l['types'][1]['name']" > {{l['types'][1]['name']}}</div>
                    </div>

                </div>
            </div>
            <div class="col-md-12 col-sm-10">
                <button type="button" class="btn btn-primary btn-lg btn-block" ng-click="load_more(3)"><span class="glyphicon" ng-class="{'glyphicon-refresh glyphicon-refresh-animate' : loading.button }"></span> Loading More</button>
            </div>

        </div>
        <div class="col-md-3 col-sm-4 col-xs-4 col-md-offset-1 col-lg-offset-0 col-lg-3 single" ng-class="{boreder:single_container.all}">
            <div class="sk-circle" ng-show="single_container.spinner">
                <div class="sk-circle1 sk-child"></div>
                <div class="sk-circle2 sk-child"></div>
                <div class="sk-circle3 sk-child"></div>
                <div class="sk-circle4 sk-child"></div>
                <div class="sk-circle5 sk-child"></div>
                <div class="sk-circle6 sk-child"></div>
                <div class="sk-circle7 sk-child"></div>
                <div class="sk-circle8 sk-child"></div>
                <div class="sk-circle9 sk-child"></div>
                <div class="sk-circle10 sk-child"></div>
                <div class="sk-circle11 sk-child"></div>
                <div class="sk-circle12 sk-child"></div>
            </div>
            <div style="height: 100%;width: 100%" ng-show="single_container.all">
                <div class="col-md-12 col-sm-12 simg">
                    <img ng-src="http://pokeapi.co/media/img/{{single_details['pkdx_id']}}.png ">
                </div>
                <h3> {{single_details['name']}} #{{single_details['pkdx_id']}}</h3>
                <table>
                    <tr><td>Type</td>
                        <td>{{single_details['types'][0]['name']}}  {{single_details['types'][1]['name']}}</td></tr>
                    <tr><td>Attack</td>
                        <td>{{single_details['attack']}}</td></tr>
                    <tr><td>Defense</td>
                        <td>{{single_details['defense']}}</td></tr>
                    <tr><td>HP</td>
                        <td>{{single_details['hp']}}</td></tr>
                    <tr><td>SP Attack</td>
                        <td>{{single_details['sp_atk']}}</td></tr>
                    <tr><td>SP Defense</td>
                        <td>{{single_details['sp_def']}}</td></tr>
                    <tr><td>Speed</td>
                        <td>{{single_details['speed']}}</td></tr>
                    <tr><td>Weight</td>
                        <td>{{single_details['weight']}}</td></tr>
                    <tr><td>Total moves</td>
                        <td>{{single_details['moves'].length}}</td></tr>
                </table>
            </div>

        </div>
    </div>

</div>

</body>
</html>